#main{
    background-color: beige;
}
#title{
    text-align: center;
    font-size : 40px;
}
#img-div{
    padding : 10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.break{
    flex-basis: 100%;
    width : 0px;
}
#tribute-info{
    font-size : 25px;
    text-align: center;
}

@media screen and (min-width:750px) and (max-width:1040px) {
    #tribute-info{
        font-size : 40px;
    }
    #title{
        font-size : 60px;   
    }
    #img-caption{
        font-size : 25px;
    } 
}